# HEART

## Tahap Preprocessing Data

In [1]:
import numpy as np
from sklearn import preprocessing
import pandas as pd

In [2]:
dataset = pd.read_csv("https://raw.githubusercontent.com/aulyamiftahkhulhikmah/Dataset/main/heart.csv")

In [4]:
dataset.head()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [6]:
df_without_column_for_convert = pd.DataFrame(dataset, columns = ['age','sex','trtbps','chol','thalachh'])
df_without_column_for_convert.head()

   age  sex  trtbps  chol  thalachh
0   63    1     145   233       150
1   37    1     130   250       187
2   41    0     130   204       172
3   56    1     120   236       178
4   57    0     120   354       163

In [17]:
df_age=pd.get_dummies(dataset['age'])
df_age.head()

,29,34,35,37,38,39,40,41,42,43,...,65,66,67,68,69,70,71,74,76,77
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
df_sex=pd.get_dummies(dataset['sex'])
df_sex

     0  1
0    0  1
1    0  1
2    1  0
3    0  1
4    1  0
..  .. ..
298  1  0
299  0  1
300  0  1
301  0  1
302  1  0

[303 rows x 2 columns]

In [19]:
df_new = pd.concat([df_without_column_for_convert, df_age,df_sex], axis=1)
df_new.head()

,age,sex,trtbps,chol,thalachh,29,34,35,37,38,...,67,68,69,70,71,74,76,77,0,1
0,63,1,145,233,150,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,37,1,130,250,187,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
2,41,0,130,204,172,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,56,1,120,236,178,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,57,0,120,354,163,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [20]:
df_trtbps = pd.DataFrame(dataset, columns = ['trtbps'])
df_trtbps.head()

   trtbps
0     145
1     130
2     130
3     120
4     120

## Naive Bayes

In [21]:
from sklearn.metrics import make_scorer, accuracy_score,precision_score
from sklearn.metrics import accuracy_score ,precision_score,recall_score,f1_score
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import KFold,train_test_split,cross_val_score
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split

In [23]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)

NameError: ignored

In [24]:
gaussian = GaussianNB()
gaussian.fit(X_train, y_train)
Y_pred = gaussian.predict(X_test) 
accuracy_nb=round(accuracy_score(y_test,Y_pred)* 100, 2)
acc_gaussian = round(gaussian.score(X_train, y_train) * 100, 2)

cm = confusion_matrix(y_test, Y_pred)
accuracy = accuracy_score(y_test,Y_pred)
precision =precision_score(y_test, Y_pred,average='micro')
recall =  recall_score(y_test, Y_pred,average='micro')
f1 = f1_score(y_test,Y_pred,average='micro')
print('Confusion matrix for Naive Bayes\n',cm)
print('accuracy_Naive Bayes: %.3f' %accuracy)
print('precision_Naive Bayes: %.3f' %precision)
print('recall_Naive Bayes: %.3f' %recall)
print('f1-score_Naive Bayes : %.3f' %f1)

NameError: ignored